@import "./progress.css";

.page-content {
  min-height: calc(100vh - 100px);
}

*:focus:not(.focus-visible) {
  outline: 0;
}

a {
  text-decoration: none;
  color: unset;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  :root {
    --device: extra-small;
  }
  .section-title {
    font-size: 28px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  :root {
    --device: small;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  :root {
    --device: medium;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  :root {
    --device: large;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root {
    --device: extra-large;
  }
}